@tailwind preflight;
@tailwind utilities;

.no-outline {
  outline: none;
}

.pin-u {
  top: 100%;
}

.dl-grid {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0.5rem;
}

.dl-grid dt {
  grid-column: 1 / span 1;
}

.dl-grid dd {
  grid-column: 2 / span 1;
}

.dl-grid-center {
  grid-template-columns: 1fr max-content max-content 1fr;
}

.dl-grid-center dt {
  grid-column: 2 / span 1;
}

.dl-grid-center dd {
  grid-column: 3 / span 1;
}

.arrow-red-dark::before {
  /* TODO(bkeyes): reference this as a variable? */
  border-color: #CC1F1A;
}

.arrow-2::before {
  border-width: 0.5rem;
}

.arrow-3::before {
  border-width: 0.75rem;
}

.arrow-tc::before {
  content: "";

  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);

  border-style: solid;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}
