@tailwind preflight;

/* custom components */

.error-tooltip {
  @apply .rounded .shadow-md .text-sm .text-white .text-center .bg-red-dark;
  @apply .absolute .pin-x .p-2 .mt-3;

  top: 100%;
}

.error-tooltip::before {
  @apply .absolute .border-transparent;

  border-bottom-color: config('colors.red-dark');
  border-width: config('margin.2');
  bottom: 100%;
  content: "";
  left: 50%;
  transform: translateX(-50%);
}

.error-tooltip.error-tooltip--large {
  @apply .p-3 .mt-4 .text-base;
}

.error-tooltip.error-tooltip--large::before {
  border-width: config('margin.3');
}

.btn {
  @apply font-bold py-2 px-3 rounded;
  @apply bg-blue text-white;
}

.btn:disabled {
  @apply opacity-50 cursor-not-allowed;
}

.btn:not(:disabled):hover {
  @apply bg-blue-dark;
}

.btn.btn--outline {
  @apply border-blue border-2 bg-transparent text-blue;
}

.btn.btn--outline:not(:disabled):hover {
  @apply bg-blue text-white;
}

/* standard utilities */

@tailwind utilities;

/* custom utilities */

.no-outline {
  outline: none;
}

.dl-grid {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0.5rem;
}

.dl-grid dt {
  grid-column: 1 / span 1;
}

.dl-grid dd {
  grid-column: 2 / span 1;
}

.dl-grid-center {
  grid-template-columns: 1fr max-content max-content 1fr;
}

.dl-grid-center dt {
  grid-column: 2 / span 1;
}

.dl-grid-center dd {
  grid-column: 3 / span 1;
}

.expr-grid {
  display: grid;

  grid-template-columns: 1fr max-content;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.25rem;

  padding-bottom: 0.25rem;
}

.expr-grid > *:first-child {
  grid-column: 1 / -1;
}

.expr-grid > *:nth-child(2n) {
  grid-column: 1;
}
