@tailwind preflight;
@tailwind utilities;

.no-outline {
  outline: none;
}

.pin-u {
  top: 100%;
}

.dl-grid {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0.5rem;
}

.dl-grid dt {
  grid-column: 1 / span 1;
}

.dl-grid dd {
  grid-column: 2 / span 1;
}

.dl-grid-center {
  grid-template-columns: 1fr max-content max-content 1fr;
}

.dl-grid-center dt {
  grid-column: 2 / span 1;
}

.dl-grid-center dd {
  grid-column: 3 / span 1;
}
